@@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
html * {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0 22px;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0 22px;
}
img {
  max-width: 80%;
  border-radius: 8px;
}
h1 {
  background-color: pink;
  background-image: url("feminist2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 48px 22px;
  text-shadow: 2px 2px #fff;
}

H2 {align-items: center;
color: black;
border-radius: 8px;}

h3 {color: grey;
align-items: right;}

a {
  background-color: orange;
  border-radius: 8px;
  color: #000;
  display: inline-block;
  font-weight: 700;
  padding: 10px 18px;
  text-decoration: none;
}



#caixa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.cartao {
  background-color: #eee;
  border-radius: 8px;
  padding: 18px;
  align-self: flex-start;
}
 footer {  background-color: pink;
   background-image: url("feminist2.jpg");
   background-position: center;
   background-size: cover;
   border-radius: 8px;
   padding: 48px 22px;
   text-shadow: none;
}
